<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<settings>
    <infoLayout>1894.0</infoLayout>
    <infoLayout>332.6666564941406</infoLayout>
    <infoLock>true</infoLock>
    <infoResolution>262.0</infoResolution>
    <infoResolution>304.0</infoResolution>
    <infoVisible>true</infoVisible>
    <lastPath>C:\Users\Hols-\Desktop\IEDconfigurator\cid-icd</lastPath>
    <libLayout>1894.6666259765625</libLayout>
    <libLayout>662.0</libLayout>
    <libLock>true</libLock>
    <libResolution>490.0</libResolution>
    <libResolution>380.0</libResolution>
    <libVisible>true</libVisible>
    <mainLayout>520.0</mainLayout>
    <mainLayout>269.3333435058594</mainLayout>
    <mainResolution>1357.3333740234375</mainResolution>
    <mainResolution>770.0</mainResolution>
    <spHdivide>0.7929362880886427</spHdivide>
    <spVdivide>0.21027346637102734</spVdivide>
</settings>
